ansible/roles/*
ansible/py3-ansible/*
tmp/*
*.retry
*.zip
target/
out/
.DS_Store
*.classpath
*.project
*.settings
.security/
*.jar
*.war
*.iml
.idea
workspace
data
logs/
tmp/
.vscode
dependency-reduced-pom.xml
