ansible/roles/*
ansible/py3-ansible/*
tmp/*
*.retry
*.zip
target/
out/
.DS_Store
*.classpath
*.project
*.settings
.security/
*.jar
*.war
*.iml
.idea
workspace
data
logs/
tmp/
.vscode
dependency-reduced-pom.xml
apb/roles/openshift_gogs
apb/roles/openshift_workshopper
apb/roles/openshift_eclipse_che
apb/roles/openshift_istio
apb/roles/openshift_sonatype_nexus
